# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List of popular languages in Data Science
- List of commonly used libraries in Data Science
- Examples of arithmetic expression in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. MATLAB

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow
4. Seaborn
5. Matplotlib
6. PyTorch

| Data Science Tools |
|:-|
| Jupyter Notebook |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
Minutes = 200
Hours = Minutes/60
Hours

3.3333333333333335

## Author
Aditya